<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.purl.net.mkhl.saved-searches</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>CannedSearchesSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>org.purl.net.mkhl.saved-searches.source.canned</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Canned Searches</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array>
				<string>file.search.cannedSearch</string>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>SavedSearchesSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>org.purl.net.mkhl.saved-searches.source.saved</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Saved Searches</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array>
				<string>file.search.savedSearch</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
